<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0-rc.3/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <link rel="stylesheet" type="text/css" href="/static/app/styles.css"/>
    <title>Document</title>
</head>
<body class="flex-horizontal"> 
    <header>
        <div class="logo-holder">
            <div class="logo-box">
                <img class="logo-image" src="/static/app/Logo.png" alt="logo"/>
            </div>
            
            <h1 class="logo-header">SMS Sender</h1>
            
        </div>
        <div class="profile-box">
            <img class="profile-picture" src="/static/app/blank-profile.png" />
        </div>
    </header>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Check Messages</h1>
        <div id="modal-message">Some text in the Modal..</div>
        <button>Send Messages</button>
        </div>
    
    </div>
    <section>
        <div id="message-area">
            <div class="main-container">
                <h1>Send Messages</h1>
                <em>Use // for variable keywords. E.g. //name, //time, //place</em><br/><br/>
                <div id="message-editor" class="editable" contenteditable="true" placeholder='Enter your message here...'></div>
            </div>
        </div>  
    </section>
    <section id="detail-area">
        <div id="app" class="flex-vertical">
            <div class="detail-info-container">
                <h3>New Recipients</h3>
                <div class="extra-info">
                    <p>Hotkey:</p>
                    <p>Ctrl + Enter = Add a line</p>
                    <p>Ctrl + BkSpc = Delete a line</p>
                </div>
            </div>
            <div class="table-container">
                <table id="detail-table">
                    <thead class="details-table-header">
                        <tr class="header-row">
                            <th v-for="(keyword, index) in keywords">[[keyword]]*</th>

                        </tr>
                    </thead>
                    <tbody id="detail-data">                
                        <tr v-for="index in counter">
                            <td class="details" v-for="keyword in keywords"><input v-if="keyword == 'Number'" type="number" class="detail-input"  placeholder="E.g 0211234567"/>
                                <input required v-else class="detail-input" type="text" />
                            </td>
                            <td><button v-if="counter > 1"  v-on:click="removeSpecificRow" class="button-invis">x</button></td>
                        </tr>
                    </tbody>

                    
                </table>
            </div>

            <div class="table-control-container">
                <button v-on:click='addTableRow' class="generic-button" >
                    <div class="button-contents">
                        <div class="sign">+</div>   
                        Add New
                    </div>
                </button>
                <button v-if="counter > 1" v-on:click='removeTableRow' class="generic-button" >
                    <div class="button-contents">
                        <div class="sign">-</div>   
                        Remove
                    </div>
                </button>
            </div>

            <button id="submit" v-on:click='formatText'>Check Message</button>
        </div>
        
    </section>

    <script src="/static/app/app.js" type="module" defer="true"> </script>
</body>
</html>