<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <link rel="stylesheet" type="text/css" href="../../../static/styles.css">
    <title>Document</title>
</head>
<body class="flex-horizontal">
    <section>
        <div id="message-area">
            <div class="main-container">
                <h1>Send Messages</h1>
                <em>Use // for variable keywords. E.g. name, time, place</em><br/><br/>
                <div class="editable" contenteditable="true" placeholder='Enter your message here. Use // to introduce a new keyword'></div>
                </div>
        </div>  
    </section>
    <section id="detail-area">
        <div id="app" class="flex-vertical">
            <table id="detail-table">
                <tr>
                <th class="detail-header">Number</th>
                </tr>
                <tr v-for="index in counter">
                    <td><input type="text"></td>
                </tr>
                
            </table>
            <button v-on:click='addTableRow' >+</button>
            <button v-if="counter > 1" v-on:click='removeTableRow'>-</button>
        </div>
        <button id="submit">Send SMS</button>
    </section>

    <script src="../../../static/app.js" defer="true"> </script>
</body>
</html>