<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <link rel="stylesheet" href="../../styles/styles.css">
    <title>Document</title>
</head>
<body class="flex-horizontal">
    <section id="message-area">
        <h1>Message</h1>
        <textarea id="message-input"></textarea>
    </section>
    <section id="detail-area">
        <div id="app" class="flex-vertical">
            <table id="detail-table">
                <tr>
                <th class="detail-header">Number</th>
                </tr>
                <tr v-for="index in counter">
                    <td><input type="text"></td>
                </tr>
                
            </table>
            <button v-on:click='addTableRow' >+</button>
        </div>
        <button id="submit">Send SMS</button>
    </section>

    <script>
        let something = new Vue({
            el: '#app',
            data: {
                counter:1
            },
            
            methods: {
                addTableRow() { 
                    this.counter++;
                }
            } 
        });
           
    </script> 
</body>
</html>